* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  font-size: 20px;
}
/* Nav Bar  */

/* Nav bar  */

#navbar {
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 1px 2px 1px 2px whitesmoke;
}

#navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 60px;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  font-family: "poppins";
  margin: 5px 20px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
}
#navbar ul li a:hover {
  text-decoration: underline 2px #4908a4;
}

#navbar img {
  width: 90%;
}
/* Nav Bar end  */
/* End Nav Bar  */

/* About Contaier  */
#about-con {
  position: relative;
  height: 450px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 50px;
  font-family: "poppins";
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about-con::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: url(../Assets/Aboutback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.7;
  color: white;
  z-index: -1;
}

/* About Content  */

#AboutContent {
  width: 1000px;
  height: 1200px;
  margin: auto;
  padding: 100px 10px;
}
#AboutContent h1 {
  font-size: 1rem;
  font-family: "poppins";
  color: #4908a4;
  text-transform: uppercase;
  font-weight: 500;
}

#AboutContent p {
  font-size: 0.8rem;
  font-family: "poppins";
  color: rgb(45, 42, 42);
  text-transform: uppercase;
  font-weight: 500;
}
.dir-con {
  display: flex;
  width: 100%;
  height: 400px;
  margin: 50px 0px;
}
.dir-img {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dir-img h2 {
  font-size: 1rem;
  font-family: "poppins";
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
.dir-img p {
  font-size: 0.9rem;
  font-family: "poppins";
  color: gray;
  font-weight: 500;
}
.dir-img img {
  width: 80%;
}

.direc-content {
  width: 50%;
}
.direc-content ul li {
  font-size: 0.6rem;
  font-family: "poppins";
  color: rgb(36, 35, 35);
  font-weight: 400;
  margin: 5px 0px;
}

#AboutContent ul {
  margin: 10px 20px;
  color: rgb(44, 42, 42);
  font-size: 0.8rem;
  font-family: "poppins";
  color: rgb(36, 35, 35);
  font-weight: 400;
}

/* End About Content  */
/* End About  */
#social-ne {
  width: 100%;
  height: 150px;
  background-color: #e9e5ee;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-con1 {
  margin: 5px 20px;
}
.social-con1 p {
  font-family: "poppins";
  color: black;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.social-con2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-con2 img {
  height: 35px;
  margin: 3px;
  transition: 0.5s;
}
.social-con2 img:hover {
  transform: rotate(360deg);
}
/* Follow Us on */

/* footer  */
#footer {
  width: 100%;
  height: 600px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  background-image: url("../Assets/asset\ 42.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}
#footer ul li {
  list-style: none;
  margin: 15px 0px;
  font-family: "poppins";
  color: black;
  font-size: 1.1rem;
  text-align: left;
  font-weight: 300;
  letter-spacing: 1px;
}
#footer ul li a {
  text-decoration: none;
  color: black;
}

#footer ul li a:hover {
  text-decoration: underline black;
}
/* End footer  */
/* EndFollow Us on */

/* Copy right  */
#copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 10px;
}
/* End Copy right  */
