* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #4908a4;
  --secondary-color: #5a10c3;
}

body {
  font-size: 20px;
}

/* # Id  */

/* Nav bar  */

#navbar {
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 1px 2px 1px 2px whitesmoke;
  opacity: 1;
}

#navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 60px;
}
#navbar ul li {
  list-style: none;
}
#navbar ul li a {
  font-family: "poppins";
  margin: 5px 20px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(100px);
}
#navbar ul li a:hover {
  text-decoration: underline 2px #4908a4;
}

#navbar img {
  width: 90%;
}
/* Nav Bar end  */

/* Parishkar world App */

#pwa {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#pwa .pwa-con1 h3 {
  font-family: "poppins";
  margin: 5px 0px;
  line-height: 20px;
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
  font-weight: 400;
}
#pwa .pwa-con1 h1 {
  font-family: "poppins";
  margin: 5px 0px;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 500;
  margin: 5px 0px;
}

/* End Parishkar world App */

/* Parishkar Features  */
#pwf {
  display: flex;
  justify-content: center;
  position: relative;
  height: 700px;
  width: 100%;
}
#pwf ul {
  width: 950px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
#pwf ul li {
  list-style: none;
}

#pwf ul .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
}
#pwf ul .item:hover {
  background-color: rgba(253, 236, 239, 0.285);
  box-shadow: 1px 2px 10px 2px rgb(193, 188, 188);
}
#pwf ul .item h4 {
  font-family: "poppins";
  margin: 5px 0px;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 350;
}
#pwf ul .item p {
  font-family: "poppins";
  color: gray;
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
}
/* End Parishkar Features  */

/* Online Teaching  */

#aot {
  width: 100%;
  height: 700px;
  position: relative;
  margin-top: 50px;
}
#aot h2 {
  font-family: "poppins";
  margin: 5px 0px;
  color: #5a10c3;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}
.aot-para {
  font-family: "poppins";
  margin: 5px 0px;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 350;
  text-align: center;
}

#aot-con {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1200px;
  height: 600px;
  margin: 10px 50px;
}
.aot-con1 {
  width: 100%;
  display: grid;
  place-items: center;
}

.onlinetemp {
  opacity: 0;
  transform: translateX(-30px);
}
.onlinetemp1 {
  opacity: 0;
  transform: translateX(30px);
}
.aot-con2 h4 {
  font-family: "poppins";
  margin: 5px 0px;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}
.aot-con2 p {
  font-family: "poppins";
  margin: 20px 0px;
  text-decoration: none;
  color: gray;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: left;
}
.aot-con2 ul li {
  list-style: url(asset\ 21.png);
  margin: 15px 30px;
  color: gray;
  font-family: "poppins";
  font-size: 1rem;
}

/* Why Parishkar  */

#wp {
  height: 900px;
  width: 100%;
  background-image: url(asset\ 41.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wp-con {
  width: 900px;
  text-align: center;
}

.wp-con h3 {
  font-family: "poppins";
  margin: 20px 0px;
  text-decoration: none;
  color: yellow;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
.wp-con p {
  font-family: "poppins";
  margin: 20px 0px;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}

#wp ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0px;
}
#wp ul li {
  width: 25%;
  list-style: none;
  margin: 0px 10px;
}
#wp ul li img {
  width: 60%;
}
#wp ul li p {
  font-family: "poppins";
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
  margin: 5px 0px;
}
#wp ul li h5 {
  font-family: "poppins";
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  margin: 5px 0px;
}
/* End Why Parishkar  */

/* See what customer say  */

#swc {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swc-con1 {
  width: 50%;
  height: 100%;
  background-image: url(asset\ 27.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swc-feedback {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgb(218, 213, 213);
  padding: 5px 10px;
}
.swc-feedback img {
  border-radius: 50%;
  margin: 20px 0px;
  width: 50%;
}
.swc-feedback p {
  margin: 15px 0px;
  font-size: 1.3rem;
  line-height: 30px;
}

.swc-con2 {
  width: 50%;
}
.swc-con2 h2 {
  font-family: "poppins";
  margin: 5px 0px;
  color: #5a10c3;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.swc-con2 h4 {
  font-family: "poppins";
  margin: 5px 0px;
  color: black;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 1px;
}

/* End See what customer say  */

/* Contact  */
#contact {
  position: relative;
  height: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(asset\ 27.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 50px;
}
#contact h5 {
  font-family: "poppins";
  color: gray;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 20px;
}
.People-image {
  position: absolute;
  left: 20%;
  top: 60%;
  z-index: 5;
}
.People-image:nth-child(1) {
  right: 20%;
  top: 50%;
}
.People-image:nth-child(2) {
  left: 20%;
  top: 60%;
}
.People-images:nth-child(3d) {
  right: 20%;
  top: 20%;
}

/* End Contact  */
#social-ne {
  width: 100%;
  height: 150px;
  background-color: #e9e5ee;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-con1 {
  margin: 5px 20px;
}
.social-con1 p {
  font-family: "poppins";
  color: black;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.social-con2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social-con2 img {
  height: 35px;
  margin: 3px;
  transition: 0.5s;
}
.social-con2 img:hover {
  transform: rotate(360deg);
}
/* Follow Us on */

/* footer  */
#footer {
  width: 100%;
  height: 600px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  background-image: url(../Assets/asset\ 42.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}
#footer ul li {
  list-style: none;
  margin: 15px 0px;
  font-family: "poppins";
  color: black;
  font-size: 1.1rem;
  text-align: left;
  font-weight: 300;
  letter-spacing: 1px;
}
#footer ul li a {
  text-decoration: none;
  color: black;
}

#footer ul li a:hover {
  text-decoration: underline black;
}
/* End footer  */
/* EndFollow Us on */

/* Copy right  */
#copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 10px;
}
/* End Copy right  */
/* Utility Classes  */

/* Nav bar cl */
.p-logo {
  height: 100%;
  margin: 0px 40px;
  opacity: 0;
}
/* Nav bar cl end */

/* class Parishkar world App */
.pwa-con1 {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
}

.pwa-bt {
  padding: 10px 30px;
  background-color: #5a10c3;
  border-radius: 30px;
  border: none;
  width: 250px;
  font-size: 1.2rem;
  color: white;
  margin: 20px 0px;
  box-shadow: 0px 2px 10px 2px black;
  cursor: pointer;
}
.pwa-bt:hover {
  background: linear-gradient(to right, #4908a4, rgba(60, 73, 212, 0.867));
}
/* class endParishkar world App */

/* hindi  */

/* Pariskar Features  */
.star1-pwf {
  position: absolute;
  height: 20px;
  top: 20px;
  right: 20px;
  z-index: 5;
}
.star2-pwf {
  position: absolute;
  height: 40px;
  top: 40px;
  left: 20px;
  z-index: 5;
  animation: star2 7s linear infinite;
}

.star2-pwf:nth-child(5) {
  animation-duration: 15s;
  animation-delay: 0.5s;
}
.star2-pwf:nth-child(odd) {
  animation-duration: 10s;
  animation-delay: 3s;
}
@keyframes star2 {
  0% {
    top: 140px;
    right: 40px;
  }
  25% {
    top: 280px;
    right: 10px;
  }
  50% {
    top: 150px;
    right: 50px;
  }
  75% {
    top: 50px;
    right: 300px;
  }
  100% {
    top: 300px;
    left: 50px;
  }
}
/*  class EndPariskar Features  */
